parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- src/Views/*
		- src/Commands/Views/*
	ignoreErrors:
	    - '#Call to an undefined method CodeIgniter\\BaseModel::getTable\(\).#'
	    - '#Call to an undefined method CodeIgniter\\BaseModel::where\(\).#'
	    - '#Call to an undefined method CodeIgniter\\BaseModel::whereIn\(\).#'
	    - '#Cannot access property \$[a-zA-Z0-9\\_]+ on array\<int\|string, float\|int\|object\|string\|null\>\|object.#'
	    - '#Cannot call method [a-zA-Z0-9\\_]+\(\) on array\<int\|string, float\|int\|object\|string\|null\>\|object.#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
